#password-generator-form {
  display: flex;
  flex-direction: column;
  padding: 1em 2em 2em 2em;
  border: 1px solid #ccc;
  background-color: #eee;
  transition: 0.2s ease-in;
  box-shadow: 1px 1px 20px;
  &.weak {
    background-color: rgba(233, 100, 100, 0.797);
  }
  &.medium {
    background-color: rgb(223, 192, 133);
  }
  &.strong {
    background-color: rgb(113, 216, 168);
  }

  h1 {
    margin-top: 0.5em;
    margin-bottom: 1.2em;

    text-decoration: underline;
  }
}
#password-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
#password {
  height: 2em;
  width: 100%;
  padding: 0 35px 0 5px;
  font-size: 16px;
  font-weight: bold;

  &.weak {
    border: 2px solid red;
  }
  &.medium {
    border: 2px solid orange;
  }
  &.strong {
    border: 3px solid green;
  }
}
#clipboard-icon {
  position: absolute;
  right: 0.7em;
  border-left: 1px solid #808080;
  padding-left: 0.4em;
  color: rgb(67, 147, 216);

  &:hover {
    cursor: pointer;
  }
}
#check-icon {
  position: absolute;
  right: 0.7em;
  border-left: 1px solid #808080;
  padding-left: 0.4em;
  color: green;
  transition: 0.1s ease-out;
}

#strength {
  font-size: 10px;
}
#generate-btn {
  height: 2em;
  border: 1px solid #ccc;
  font-family: inherit;
  font-size: 14px;
  outline: none;
  transition: 0.3s;

  &:hover {
    cursor: pointer;
    opacity: 0.6;
    background-color: #ddd;
  }
}
